.THIS.mainContainer {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    border: 3px solid red;
}

.THIS .childContainer {
    background-color: lightgray;
    position: absolute;
    top: 70px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    overflow-y: auto;
    border: 3px solid lightseagreen;
}